html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    font-family: "Roboto", "Varela Round", Arial, sans-serif, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}

#container {
    position: relative;
    width: 100%;

    /* コンテンツ部分の高さが画面に収まらない場合はコンテンツの高さに合わせる*/
    height: auto !important;

    /* コンテンツ部分の高さが画面より低い場合は画面の高さに合わせる*/
    height: 100%;
    min-height: 100%;
}

#header {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: "Varela Round", Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(#4074e8, #67ceff);
  //background-color: #00E0FF;
}

#contents {

}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-family: "Varela Round", Arial, sans-serif;
  letter-spacing: 0.1em;
  color: #fff;
  background: linear-gradient(#67ceff, #4074e8);
  //background-color: #00E0FF;
}

/* ---------------------------------------------------------------------- */
/* header */


/* ---------------------------------------------------------------------- */
/* contents */
#question {
  padding: 10px;
  overflow-y: scroll;
  height: 90px;
  display: block;
}

#button {
  padding: 10px;
  text-align: center;
}

.img_button{
  padding: 0 40px;
  width: 64px;
}

#tof {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  display: none;
  font-size: 54px;
}

#tof .true{
  color:#297de5;
  text-shadow: 2px 2px 0px #ddd,
              -2px 2px 0px #ddd,
               2px -2px 0px #ddd,
              -2px -2px 0px #ddd;
}

#tof .false{
  color:#e84074;
  text-shadow: 2px 2px 0px #ddd,
              -2px 2px 0px #ddd,
               2px -2px 0px #ddd,
              -2px -2px 0px #ddd;
}

#answer {
  padding: 10px;
  overflow-y: scroll;
  height: 150px;
  display: none;
}

/* ---------------------------------------------------------------------- */
/* footer */
.footer_ul {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.footer_ul li {
  border-right: 2px solid #fff;
  display: table-cell;
  vertical-align: middle;
  height: 60px;
}
